<app-home-background></app-home-background>
<app-navbar></app-navbar>
<div class="container marge-top">

  <div class="row">
    <div class="col-md-5">
      <app-search-vhl></app-search-vhl>
    </div>

    <div class="col-md-4">
      <app-search-immat></app-search-immat>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <p class="card-text">Votre moto</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 search-bar">
      <app-search-bar></app-search-bar>
    </div>
  </div>
</div>
<app-categories class="col-4 categories"></app-categories>