.marge-top {
    margin-top: 10vh;
}

.categories {
    margin:0;
    padding:0;
}


.filtersAndAnnouces {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .filtersAndAnnouces {
        flex-direction: row;
    }
}