<div id="card-474031">
  <div class="card">
    
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-474031" href="#card-element-946263"><div class="card-header">Immatriculation<p class="float-right arrow">&#8964;</p>
    </div></a>
    <div id="card-element-946263" class="collapse">
      <div class="card-body">

<p>Indiquez votre numéro de plaque</p>
<div class="input-group mt-5 mb-3">
    <input type="text" class="form-control" placeholder="AZ-234-ER" #searchInput>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="getPlaqueInfo(searchInput.value)">Vroum...</button>
    </div>
  </div>
</div>
</div>
</div>
</div>