<app-navbar></app-navbar>
<div class="container">

  <div class="row text-center announcePiecePage">

    <div class="col-12 offset-sm-6 col-sm-4 text-center announceTitle">
      {{annonce.pieceName}}
      <hr />
    </div>
    <p class="announcePrice col-sm-2 d-none d-sm-block">{{annonce.price}}€</p>

    <div class="col-12 float-sm-left col-sm-4 announceImageDiv">
      <img class="announceImage col-sm-12" src="{{annonce.image}}" placeholder="image">
    </div>
  
    <div class="col-sm-8">
      <div class="
            col-12 text-sm-left announceDescription">
        <p class="announcePrice d-sm-none">
          {{annonce.price}}€
        </p>

        <p class="announceDesc font-weight-bold">
          <br>
          Marque: {{annonce.brand}}
          <br>
          Modèle: {{annonce.model}}
          <br>
          Cylindrée: {{annonce.cylinder}}
          <br>
          Année: {{annonce.year}}
        </p>

        <p> Description: {{annonce.description}}</p>

        <p class="announceState">
          Etat de la pièce:
        </p>
          <p class="announceState">
          <span class="announceRating" *ngFor="let numberOfStarts of arrayForRating">★</span>
          <span class="announceRating" *ngFor="let numberOfStarts of arrayForRatingEmpty">☆</span>
          <br class="d-sm-none sautAnnonce">
        </p>
      </div>
    </div>

    <div class="btn-group col-12 d-sm-none bottomButtons" data-toggle="buttons">
      <label type="button" class="btn btn-warning col-6" (click)="returnLastPage()">
        Retour
      </label>
      <label type="button" class="btn btn-warning col-6">
        Ajouter au panier
      </label>
    </div>

    <div class="d-none d-sm-block col-12">
      <label type="button" class="btn btn-warning offset-4 col-2" (click)="returnLastPage()">Retour</label>
      <label type="button" class="btn btn-warning offset-2 col-2">Ajouter au panier</label>
    </div>

  </div>
</div>