.badge {
    margin-left:4px;
    font-size: 0.9em;
    margin-top:3px;
    margin-bottom:3px;
    padding-top:7px;
    padding-bottom:7px;
}

.badge-outline {
    color: #343a40;
    border: 1px solid #343a40;
    background-color: transparent;
}

.badge:active {
    color: #fff;
    text-decoration: none;
    background-color: #1d2124;
}