.badge {
    margin-left:6px;
    font-size: 0.8em;
    margin-top:10px;
    margin-bottom:3px;
    padding-top:7px;
    padding-bottom:7px;
    font-weight: normal;
}

.badge-outline {
    color: black;
    border: 0.8px solid black;
    background-color: transparent;
    border-radius: 2px;
}

.badge:active {
    color: #fff;
    text-decoration: none;
    background-color: black;
}