<!-- <div class="row announceContainer">
      <app-announce-item class="col-12" *ngFor="let announce of listAnnonces, let i = index" [announce]="announce"
            [index]="i"></app-announce-item>

</div> -->
<div class="row announceContainer">
      <cdk-virtual-scroll-viewport itemSize="100" class="VSviewport">
            <ng-container *cdkVirtualFor="let announce of listAnnonces, let i = index">
                  <app-announce-item [announce]="announce" [index]="i"></app-announce-item>
            </ng-container>
      </cdk-virtual-scroll-viewport>
</div>
