<div id="card-74095">
  <div class="card">
    <a
      class="card-link collapsed"
      data-toggle="collapse"
      data-parent="#card-74095"
      href="#card-element-616950"
    >
      <div class="card-header">
        Véhicule

        <p class="float-right arrow">&#8964;</p>
      </div>
    </a>

    <div
      id="card-element-616950"
      class="collapse"
    >
      <div class="card-body">
        <div class="input-group mb-3">
          <select
            class="custom-select"
            id="selectMarque"
            (click)="getMarque()"
          >
            <option selected="selected">Marque...</option>

            <option value="243">ACTION BIKE</option>

            <option value="160">ADLY</option>

            <option value="3">APRILIA</option>

            <option value="165">AZTRAL</option>

          </select>
        </div>

        <div class="input-group mb-3">
          <select
            class="custom-select"
            id="cylindré"
            (click)="getCylindree()"
            [disabled]="!choixMarque"
          >
            <option selected="selected">Cylindré</option>

            <option value="1">100 CC</option>

            <option value="2">300 CC</option>

            <option value="3">500 CC</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <select
            class="custom-select"
            id="modele"
            (click)="getModele()"
            [disabled]="!choixCylindree"
          >
            <option selected="selected">Modèle</option>

            <option value="1">Phantom</option>

            <option value="2">Tenerife</option>

            <option value="3">Odyssey</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <select
            class="custom-select"
            id="annee"
            [disabled]="!choixModele"
          >
            <option selected="selected">Année</option>

            <option value="1">1978</option>

            <option value="2">2012</option>

            <option value="3">2030</option>
          </select>

          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2"
            >Vroum...</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
