<div class="col-md-8">
  <h2 class="raisonSociale">{{seller.raisonSociale}}</h2>
    <cdk-virtual-scroll-viewport itemSize="100" class="VSviewport">
      <table class="table table-hover table-striped list">
        <thead class="head sticky">
          <tr>
            <th>
              Pièce
            </th>
            <th>
              Prix
            </th>
            <th>
              Status
            </th>
            <th>
              Supprimer
            </th>
          </tr>
        </thead>
        <ng-container *cdkVirtualFor="let announce of announces">
          <tr>
            <td>
              {{announce.pieceName}}
            </td>
            <td>
              {{announce.price}}
            </td>
            <td>
              En vente
            </td>
            <td>
              <i class="material-icons">delete_sweep</i>
            </td>
          </tr>
        </ng-container>
      </table>
    </cdk-virtual-scroll-viewport>
</div>