.aPageSize {
    width:99vw;
    height:90vh;
    transition:all 0.4s linear;
}


.backgroundImage {
    width:100%;
    height:99vh;
    position:absolute;
    transition:all 0.4s linear;
}
.backgroundLogo  {
    width:22%;
    position:absolute;
    z-index:1;
    left:37%;
    top:25%;
}
.closeButton {
    position:absolute;
    bottom:9%;
    left:46vw;
    background-image:url('../../../assets/up-arrow.png');
    width:8ch;
    height:6ch;
    border:none;
    background:none;
    text-align:center;
    display:inline-block;
    opacity:0.6
}

.img {
    width:4em;
}