<div class="col-md-8">
  <cdk-virtual-scroll-viewport itemSize="100" class="VSviewport">
    <table class="table table-hover table-striped list">
      <thead class="head sticky">
        <tr>
          <th>
            Raison Sociale
          </th>
          <th>
            SIREN
          </th>
          <th>
            Adresse
          </th>
          <th>
            Tel
          </th>
          <th class="centerContainer">
            Editer
          </th>
          <th class="centerContainer">
            Supprimer
          </th>
          <th class="centerContainer">
            Annonces
          </th>
        </tr>
      </thead>
      <ng-container *cdkVirtualFor="let seller of sellers; let idx = index">
        <tr>
          <th>
            {{seller.raisonSociale}}
          </th>
          <th>
            {{seller.siren}}
          </th>
          <th>
            {{seller.adresse1}}
          </th>
          <th>
            {{seller.telephone}}
          </th>
          <th class="centerContainer">
            <a (click)="edit(seller)"><i class="material-icons icons">edit</i></a>
          </th>
          <th class="centerContainer">
            <a (click)="delete(seller.username)"><i class="material-icons icons">delete_sweep</i></a>
          </th>
          <th class="centerContainer">
            <a (click)="seeAnounces(seller.username, idx)"><i class="material-icons icons">remove_red_eye</i></a>
          </th>
        </tr>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div>