/* @media screen and (max-width: 2000px) */
p{
    font-size:1em;
}

table {
width: 100%;
}

.prix_total{
font-weight:bold;
}

.total{
    font-size:0.8em;
    font-size:1.1em;
    text-align:right;
    line-height:0.5em;
}

.position {
    margin-top : 15vh;
}

.image_modal {
    width: 50%;
}

@media screen and (max-width: 600px)

{
p{
    font-size:0.8em;
}

.total{
    font-size:0.8em;
    font-size:1.1em;
    text-align:right;
    line-height:0.5em;
}
}