<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning row navBar">
    <a class="navbar-brand col-1" routerLink="/home">
      <img class="websiteLogo" src="../../../assets/ADP_symbole_logo_orange.png" alt="logo">
    </a>

    <form class="my-lg-0 col-8 col-lg-2 col-sm-5">
      <input class="form-control-plaintext mr-sm-2 adoptPieceSearch" type="search" placeholder="Adopter une pièce"
        aria-label="Search" />
    </form>

    <button class="navbar-toggler burgerIcon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse burger navbar-collapse offset-lg-7 mt-1" id="navbarSupportedContent">
      <div class="navbar-nav row rightLinks">
        <div class="nav-item col-lg-1">
          <a class="nav-link" routerLink="/panier">
            <i class="material-icons">shopping_cart</i>
            <span class="numberOfArticles">{{nbArticles}}</span>
          </a>
        </div>

        <div class="nav-item compte offset-lg-1 col-lg-1">
          <a class="nav-link" (click)="click()" data-toggle="modal" [attr.data-target]="'#' + modal">
            <i class="material-icons">account_circle</i>
          </a>
        </div>

        <div class="nav-item  exit offset-sm-1 col-sm-1">
          <a class="nav-link" *ngIf="isLogged" class="deco" (click)="logout()" routerLink="/home">

            <i class="material-icons">exit_to_app</i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="modal fade marge-top" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="col-md-6 modal-left">
          <div class="logo">
            <img class="websiteLogoModal" src="../../../assets/ADP_symbole_logo_noir.png" alt="logo">
          </div>

          <div class="text-inscription">
            <p>
              Inscris toi sur le site et reçois des alertes sur les pièces de motos que tu recherches
            </p>
          </div>

          <button type="button" class="btn btn-warning" data-dismiss="modal" routerLink="/creationCompte">Inscription</button>
        </div>

        <div class="col-md-6  modal-right">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <div class="facebook">
            <button type="button" class="btn btn-facebook">Connexion avec Facebook</button>
          </div>

          <div class="ligne"></div>

          <form class="form-horizontal" role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">champ requis</div>
                <div *ngIf="f.email.errors.email">
                  un email valide est requis
                </div>
              </div>
            </div>

            <div class="form-group">
              <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">champs requis</div>
                <div *ngIf="f.password.errors.minlength">
                  Le mot de passe doit avoir au moins 8 caractères
                </div>
              </div>
              <div *ngIf="erreurConnection" class="erreurConnection">
                email et/ou mot de passe erroné
              </div>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" />
                  Se souvenir de moi
                </label>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" data-dismiss="mod" class="btn btn-warning btn-connex">Se
                connecter </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>