<div class="margetop">
  <div class=" row">
    <div class="col-12">
      <div class="titlewline">
        <div class="titlewline__title">Informations Personnelles <br /></div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-12">
    <form>
      <div class="account__box ">
        <div class="box_inner">
          <div class="form-group row">
            <label for="colFormLabel" class="label col-md-3 col-form-label"
              >Email</label
            >
            <div class="col-md-6">
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-group row">
              <label for="colFormLabel" class="label col-md-3 col-form-label"
                >Prénom</label
              >
              <div class="col-md-6">
                <input type="text" class="form-control" id="prenom" />
              </div>
            </div>
            <div class="form-group row">
              <label for="colFormLabel" class="label col-md-3 col-form-label"
                >Nom</label
              >
              <div class="col-md-6">
                <input type="text" class="form-control" id="nom" />
              </div>
          </div>
          <div class="form-group row">
              <label for="colFormLabel" class="label col-md-3 col-form-label"
                >Téléphone Portable</label
              >
              <div class="col-md-6">
                <input type="text" class="form-control" id="nom" />
              </div>
          </div>
          <div>
              <button type="submit" class="btn btn-warning text-white  mb-2">Validez</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

