/*------------ NEW CSS ------------*/
.row {
    margin-left: 0px;
    margin-right: 0px;
    height: 45vh;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #212123;
}

.footerLink a {
    color: white;
}

.contactAdressText {
    color: white;
    text-align: left;
    margin-left: 35%; 
}

/*DEFAULT CSS - MOBILE VERSION  DEFAULT CSS - MOBILE VERSION  DEFAULT CSS - MOBILE VERSION  DEFAULT CSS - MOBILE VERSION*/
@media (max-width: 576px) {
    .legalNotice {
        margin-top: 3vh;
    }
}

/*LANDSCAPE PHONE*/
@media (min-width: 576px) {
    .row {
        height: 100vh;
    }

    .linkContainer{
        margin-top: 3vh;
    }

    .contactAdressText {
        margin-left: 45%; 
    }

    .legalNotice {
        margin-top: 5vh;
    }
}

/*TABLET VERSION*/
@media (min-width: 768px) {
    .row {
        height: 50vh;
    }

    .linkContainer{
        margin-top: 2.5vh;
    }
}

/*DESKTOP VERSION*/
@media (min-width: 1200px) {

    .contactAdressText {
        margin-left: 40%; 
    }

    .legalNotice {
        margin-top: 4vh;
    }
}