.categoriesContainer {
    border: 1px solid red;
}

.categories {
    background-color: #1a1a1a;
    text-align: end;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2vh;
    margin-right: 1vw;
    color: white;
}

.categoriesName {
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 2vw;
    vertical-align: middle;
    color: #F0F0F0;
    line-height: 7vh;
}

.categ {
    display: none;
}

.mat-button {
    outline: 0;
}

.arrowHead{
    background-image:url('../../../assets/down-arrow.png');
    background-size: 15px;
    background-position: center right 14px;
    background-repeat: no-repeat;
}

/*Mobile*/
@media (max-width: 576px) { 
    .categoriesContainer {
        border: 1px solid red;
        width: 100%;
    }

    .categories {
        width: 50vw;
        height: 7vh;
    }
    
    .mat-button {
        height: 7vh;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .categories {
        width: 30vw;
        height: 12vh;
        line-height: 12vh;
    }

    .mat-button {
        height: 12vh;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .categories {
        width: 30vw;
        height: 8vh;
        line-height: 8vh;
        margin-left: 10vw;
    }

    .mat-button {
        height: 8vh;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .categoriesContainer {
        width: 30vw;
    }

    .categories {
        width: 15vw;
        height: 10vh;
        line-height: 10vh;
        margin-left: 5vw;
    }

    .mat-button {
        height: 10vh;
        font-size: 1em;
    }

    .material-icons {
        font-size: 2.5em;
    }

}
