<div id="sidenav" class="container sidenav">

  <button class="closebtn" (click)="closeNav()">&times;</button>
  <div class="row">

    <div *ngIf="piece" class=" categories arrowHead2 mt-2" (click)="initFiltre()">
      <div class="ml-2">
      supprimer filtre:
      <br>
      <p> {{piece}} </p>
      </div>
      <div>
      <i  class="material-icons col-2">highlight_off</i>   
      </div> 
    </div>

    <div *ngFor="let categories of motoCategories.categories; let index=index">

      <div class="categories arrowHead" (click)="collapse(index)">
        <b> {{categories.name}} </b>
      </div>
      <app-sous-categories id="categ{{index}}" class="categ" [overIndex]="index*100" [categories]="categories"></app-sous-categories>
    </div>
  </div>
</div>
<button type="button" class="menuButton" id="menuButton" (click)="openNav()" [disabled]="disableButton"></button>