.list-group-item {
    width: 20vw;
    margin-top:5px;
    margin-left:5vw;
    font-size:1.2em;
    cursor: pointer;
}

.list {
    display:none;
}

.arrowHead{
    background-image:url('../../../../assets/down-arrow.png');
    background-size: 15px;
    background-position: center right 14px;
    background-repeat: no-repeat;
}