.list-group-item {
    width:26ch;
    margin-top:5px;
    margin-left:40px;
    font-size:1em;
    cursor: pointer;
    font-family:Rubik, Arial, Helvetica, sans-serif;
}

.list {
    display:none;
    width:28ch;
    margin-left: 7ch;
}

.arrowHead{
    background-image:url('../../../../assets/down-arrow.png');
    background-size: 15px;
    background-position: center right 14px;
    background-repeat: no-repeat;
}