.announceItem {
    font-size:0.7em;
    margin-bottom:10px;
}

@media screen and (min-width: 769px) {
    .announceItem {
        font-size:1.0em;
    }
    br {
        margin-bottom:4%;
    }
    
}

@media screen and (max-width: 768px){
    .announceImage {
        height:100%;
        margin:auto;
        padding: 0px 0px 0px 0px;
    }
}

.announceText {
    padding-right:7px;
    padding-left:15px;
}
.announceTitle {
    font-size:1.2em;
}
.descParagraph {
    margin:10% 0px;
}
.announcePrice {
    font-size:1.85em;
    margin-bottom:0px;
    margin-right:8px;
    color:red;
}