<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

<div class="container mt-3">
  <form [formGroup]="creationAnnounce" (ngSubmit)="onSubmit()">
    <div class="row mt-1">
      <div class="col-md-5 mt-5">
        <div id="card-74095">
          <div class="card">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-74095" href="#card-element-616950">
              <div class="card-header">
                Véhicule

                <p class="float-right arrow">&#8964;</p>
              </div>
            </a>

            <div id="card-element-616950" class="collapse">
              <div class="card-body">
                  
                <div class="input-group mb-3 form-group">
                  <select  class="custom-select" id="brand" formControlName="brand" (click)="getMarque()">
                    <!-- <option selected="">Kawasaki</option>
                    <option selected="">Honda</option>
                    <option selected="">Yamaha</option> -->
                    <option *ngFor="let moto of motos">{{moto}}</option>
                  </select>
                </div>

                <div class="input-group mb-3">
                  <select class="custom-select" id="cylindré" (click)="getCylindree()" [disabled]="!choixMarque">
                    <option selected="selected">Cylindré</option>

                    <option value="1">100 CC</option>

                    <option value="2">300 CC</option>

                    <option value="3">500 CC</option>
                  </select>
                </div>

                <div class="input-group mb-3">
                  <select class="custom-select" id="modele" (click)="getModele()" [disabled]="!choixCylindree">
                    <option selected="selected">Modèle</option>

                    <option value="1">Phantom</option>

                    <option value="2">Tenerife</option>

                    <option value="3">Odyssey</option>
                  </select>
                </div>

                <div class="input-group mb-3">
                  <select class="custom-select" id="annee" [disabled]="!choixModele">
                    <option selected="selected">Année</option>

                    <option value="1">1978</option>

                    <option value="2">2012</option>

                    <option value="3">2030</option>
                  </select>

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Vroum...</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <app-search-immat></app-search-immat>
      </div>

      <div class="col-md-3 mt-5">
        <div class="card">
          <div class="card-header">
            <p class="card-text">Votre moto</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ajout d'un champ pour le titre de l'annonce -->
    <div class="input-group mt-3">
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        placeholder="Entrez le titre de votre annonce ...">
    </div>
    <!-- Ajout bouton pour importer les photos de l'annonce -->
    <div class="ajoutPhoto mt-3">
      <div class="single-upload">
        <h3>Choisir une photo :</h3>
        <form id="singleUploadForm" name="singleUploadForm">
          <img [src]="url" height="150">
          <input id="singleFileUploadInput" type="file" name="file" class="file-input" required (change)="onSelectFile($event)" />
          <button type="submit" class="primary submit-btn">Valider</button>
        </form>
        <div class="upload-response">
          <div id="singleFileUploadError"></div>
          <div id="singleFileUploadSuccess"></div>
        </div>
      </div>
    </div>
    <div class="categorie mt-4">
      <h5>Préciser la catégorie :</h5>
      <app-tab-categories></app-tab-categories>
      <!-- dropdown pour choisir dans qu'elle catégorie va la pièce -->
      <div>
        <h5>Description de votre pièce :</h5>
        <!-- ajout champ pour décrire l'état de la pièce -->
        <textarea class="form-control" rows="5" aria-label="With textarea"></textarea>
      </div>
      <!-- ajout champ pour donner la plage de compatibilité de la pièce-->
      <div class="input-group mt-3">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
          placeholder="Entrez le titre de votre annonce ...">
      </div>
      <div class="note mt-3">
        <ngb-rating [(rate)]="currentRate" class="star"></ngb-rating>
        <hr>
        <pre>Etat de la pièce : <b>{{currentRate}}</b></pre>
      </div>
      <div class="row mt-5 mb-3">
        <div class="col-lg-12 text-center">
          <button type="submit" class="btn btn-primary">Valider votre annonce</button>
        </div>
      </div>
    </div>
  </form>
</div>
