label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}

.note {
    font-size: .8rem;
    color: #FFCA47;
}

.star {
    font-size: 2rem;
}

pre {
    font-size: 1rem;
}

.categories {
    background-color: #1a1a1a;
    text-align: end;
    padding-top:3px;
    color: #F0F0F0;
    padding-right: 3.5ch;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}

.categ {
    display: none;
}

.arrowHead {
    background-image: url('../../../../assets/down-arrow-white.png');
    background-size: 15px;
    background-position: center right 5px;
    background-repeat: no-repeat;
}
.sidenav {
    width:100%;
    display: flex;
}
@media screen and (max-width: 768px) {
    .sidenav {
    width: 100%;
    display: inline;
    }
}

.arrow {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 900;
}
.card-header{
    background-color: black;
    color: white;
}

.sectionBtn {
    background-color: black;
    color: white;
    font-weight: bold;
}

.subsectionBtn {
    background-color: grey;
    color: white;
    margin: auto;
}

.material-icons {
    vertical-align: text-top;
}

.buttonAspect{
    border-radius: 5px;
    background-color: darkgrey;
    text-align:center;
    margin-bottom: 0.5vh;
}