label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.titleSerch {
    margin-top: 40px;
}


input, label {
    margin: .4rem 0;
}

.note {
    font-size: .8rem;
    color: #FFCA47;
}

.star {
    font-size: 2rem;
}

pre {
    font-size: 1rem;
}

.categories {
    background-color: #1a1a1a;
    text-align: end;
    padding-top:3px;
    color: #F0F0F0;
    padding-right: 3.5ch;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}

.categ {
    display: none;
}

.arrowHead {
    background-image: url('../../../../assets/down-arrow-white.png');
    background-size: 15px;
    background-position: center right 5px;
    background-repeat: no-repeat;
}
.sidenav {
    width:100%;
    display: flex;
}
@media screen and (max-width: 768px) {
    .sidenav {
    width: 100%;
    display: inline;
    }
}

.arrow {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 900;
}
.card-header{
    background-color: #2a2a2a;
    color: white;
}

.titleMoto {
    background-color: white;
    color: black;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sectionBtn {
    background-color: #2a2a2a;
    color: white;
    width: 100%;
    text-transform:uppercase;
    border-radius: 3px;
    text-align: end;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 0.8em;
    border: none;
}

.arrowDown {
    padding: 0;
}

.btnSection {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}

.subsectionBtn {
    border: none;
    font-size: 0.9em;
    text-align: left;
}

.card-body {
    border: none;
}

.material-icons {
    vertical-align: text-top;
}

.buttonAspect{
    border-radius: 2px;
    text-align:center;
    margin-top: 0.8vh;
    color:black;
}

.cate {
    margin-left: 15px;
}

.partBtn {
    border-radius: 2px;
    text-align:center;
    margin-top: 0.8vh;
    margin-right: 0.5vh;
    color:black;
}

.priceClas{
    width: 8em;
    display:inline;
    background-color: #f0f0f0
}

.priceSign{
    font-size:1.5em;
}

.noInput{
    font-size:0.8em;
    color:red
}

.alert{
    font-size:2em;
}

.validateImage{
    border: solid 5px #3cc142;
    border-radius:5px;
}

.cadre {
    width: 100%;
}

.textArea {
    background-color: #f0f0f0;
}

.pill {
    height:0px;
    border-radius: 2px;
    color: teal;
    color: color;
    border: 1px solid currentColor;
    width: 90%;
    margin-top: 40px;
  }

  .btnValid {
      background-color: #ffca47;
      color: black;
      border: none;
  }
