label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.mat-button {
    outline-style: none;
}

.titleSerch {
    margin-top: 40px;
}


input, label {
    margin: .4rem 0;
}

.note {
    font-size: .8rem;
    color: #FFCA47;
}

.star {
    font-size: 2rem;
}

pre {
    font-size: 1rem;
}

.card {
    border: none;
}


#headingOne {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: right;
}

.bikeSectionLinkBtn {
    color: white;
    background-color: #212123;
}

.bikeSectionBtn {
    font-size: 1.1em;
}

.bikePartsBtn {
    background-color: #F0F0F0;
    font-size: 1em;
    margin: 5px;
}

.btn-link:hover {
    text-decoration: none;
}

.bikeSubSectionBtn {
    color: black;
    font-size: 1em;
    outline-style: none;
}

.categories {
    background-color: #1a1a1a;
    text-align: end;
    padding-top:3px;
    color: #F0F0F0;
    padding-right: 3.5ch;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}

.arrowHead {
    background-image: url('../../../../assets/down-arrow-white.png');
    background-size: 15px;
    background-position: center right 5px;
    background-repeat: no-repeat;
}

.arrow {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 900;
}
.card-header{
    background-color: #2a2a2a;
    color: white;
}

.titleMoto {
    background-color: white;
    color: black;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.arrowDown {
    padding: 0;
}

.material-icons {
    vertical-align: text-top;
}

.partDisplay {
    margin-left: 15px;
}

.priceClas{
    width: 8em;
    display:inline;
    background-color: #f0f0f0
}

.priceSign{
    font-size:1.5em;
}

.noInput{
    font-size:0.8em;
    color:red
}

.alert{
    font-size:2em;
}

.validateImage{
    border: solid 5px #3cc142;
    border-radius:5px;
}

.cadre {
    width: 100%;
}

.textArea {
    background-color: #f0f0f0;
}

.btnValid {
    background-color: #ffca47;
    color: black;
    border: none;
}