<div class="col-md-8">
    <cdk-virtual-scroll-viewport itemSize="100" class="VSviewport">
      <table class="table table-hover table-striped list">
        <thead class="head sticky">
          <tr>
            <th>
              Nom
            </th>
            <th>
              Prénom
            </th>
            <th>
              Ville
            </th>
            <th class="centerContainer">
              Editer
            </th>
            <th class="centerContainer">
              Supprimer
            </th>
          </tr>
        </thead>
        <ng-container *cdkVirtualFor="let buyer of buyers">
          <tr>
            <td>
              {{buyer.nom}}
            </td>
            <td>
              {{buyer.prenom}}
            </td>
            <td>
              {{buyer.ville}}
            </td>
            <td class="centerContainer">
              <a (click)="edit(buyer.username)"><i class="material-icons icons">edit</i></a>
            </td>
            <td class="centerContainer">
                <a (click)="delete(buyer.username)"><i class="material-icons icons">delete_sweep</i></a>
            </td>
          </tr>
        </ng-container>
      </table>
    </cdk-virtual-scroll-viewport>
</div>