<p>
  tab-categories works!
</p>
<div class="container-fluid">
  <div class="row">
    <!--PARTIE CYCLE-->
    <div class="col-md-3">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseCycle" role="button" aria-expanded="false"
          aria-controls="collapseCycle">
          Partie Cycle
        </a>
      </p>

      <div class="collapse" id="collapseCycle">
        <div class="card card-body">
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseCadre" role="button" aria-expanded="false"
              aria-controls="collapseCadre">
              Cadre
            </a>
          </p>
          <div class="collapse" id="collapseCadre">
            <button>Cadre</button>
            <button>Araignée Avant</button>
            <button>Boucle Arrière</button>
            <button>Divers cadre</button>
          </div>

          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseFourche" role="button" aria-expanded="false"
              aria-controls="collapseFourche">
              Fourche
            </a>
          </p>
          <div class="collapse" id="collapseFourche">
              <button>Fourche Complète</button>
              <button>Tube de Fourche Gauche</button>
              <button>Tube de Fourche Droit</button>
              <button>Té supérieur</button>
              <button>Té inférieur</button>
          </div>

          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseBrasOscillant" role="button" aria-expanded="false"
              aria-controls="collapseBrasOscillant">
              Bras Oscillant
            </a>
          </p>
          <div class="collapse" id="collapseBrasOscillant">
              <button>Bras Oscillant Complet</button>
              <button>Axe de Bras Oscillant</button>
              <button>Tendeur de chaine</button>
          </div>

          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseBequille" role="button" aria-expanded="false"
              aria-controls="collapseBequille">
              Béquille
            </a>
          </p>
          <div class="collapse" id="collapseBequille">
              <button>Béquille Latérale</button>
              <button>Béquille Centrale</button>
          </div>


          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseAmortArr" role="button" aria-expanded="false"
              aria-controls="collapseAmortArr">
              Amortisseur Arrière
            </a>
          </p>
          <div class="collapse" id="collapseAmortArr">
              <button>Amortisseur Complet</button>
              <button>Biellette d'Amortisseur</button>
          </div>

          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseGuidon" role="button" aria-expanded="false"
              aria-controls="collapseGuidon">
              Guidon
            </a>
          </p>
          <div class="collapse" id="collapseGuidon">
              <button>Guidon</button>
              <button>Rétroviseur Gauche</button>
              <button>Rétroviseur Droit</button>
              <button>Poignée de Gaz</button>
              <button>Cocotte d'Embrayage</button>
              <button>Levier d'Embrayage</button>
              <button>Levier de frein</button>
              <button>Embout de guidon</button>
          </div>

          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapsePlatineReposePied" role="button" aria-expanded="false"
              aria-controls="collapsePlatineReposePied">
              Platine Repose Pied
            </a>
          </p>
          <div class="collapse" id="collapsePlatineReposePied">
              <button>Platine Avant Gauche</button>
              <button>Platine Avant Droite</button>
              <button>Platine Arrière Gauche</button>
              <button>Platine Arrière Droite</button>
              <button>Repose Pied Avant Gauche</button>
              <button>Repose Pied Avant Droite</button>
              <button>Repose Pied Arrière Gauche</button>
              <button>Repose Pied Arrière Droite</button>
              <button>Pédale de frein</button>
              <button>Sélecteur de vitesse</button>
          </div>

          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseFreinAvant" role="button" aria-expanded="false"
              aria-controls="collapseFreinAvant">
              Frein Avant
            </a>
          </p>
          <div class="collapse" id="collapseFreinAvant">
              <button>Frein Avant Complet</button>
              <button>Maire Cylindre</button>
              <button>Disque de Frein</button>
              <button>Durite de Frein</button>
          </div>

          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseFreinArriere" role="button" aria-expanded="false"
              aria-controls="collapseFreinArriere">
              Frein Arrière
            </a>
          </p>
          <div class="collapse" id="collapseFreinArriere">
              <button>Frein Arrière Complet</button>
              <button>Maire Cylindre</button>
              <button>Disque de Frein</button>
              <button>Durite de Frein</button>
          </div>

          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseJantes" role="button" aria-expanded="false"
              aria-controls="collapseJantes">
              Jantes
            </a>
          </p>
          <div class="collapse" id="collapseJantes">
              <button>Jantes Avant</button>
              <button>Jantes Arrière</button>
              <button>Axe de Roue Avant</button>
              <button>Axe de Roue Arrière</button>
          </div>
        </div>
      </div>
    </div>

    <!--PARTIE MOTEUR-->
    <div class="col-md-3">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseMoteur" role="button" aria-expanded="false"
          aria-controls="collapseMoteur">
          Partie Moteur
        </a>
      </p>
      <div class="collapse" id="collapseMoteur">
        <div class="card card-body">
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseMoteur" role="button" aria-expanded="false"
              aria-controls="collapseMoteur">
              Partie Moteur
            </a>
          </p>
        </div>
      </div>
    </div>

    <!--PARTIE ELEC-->
    <div class="col-md-3">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseElectrique" role="button" aria-expanded="false"
          aria-controls="collapseElectrique">
          Partie Electrique
        </a>
      </p>
      <div class="collapse" id="collapseElectrique">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>

    <!--PARTIE HABILLAGE-->
    <div class="col-md-3">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseHabillage" role="button" aria-expanded="false"
          aria-controls="collapseHabillage">
          Partie Habillage
        </a>
      </p>
      <div class="collapse" id="collapseHabillage">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>

  </div>
</div>