.margetop {
    margin-top: 5vh;
}

.titlewline {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.titlewline:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        height: 1px;
        width: 100%;
        background: #cacaca;
}

.titlewline__title {
    display: inline-block;
    position: relative;
    line-height: 20px;
    font-size: 20px;
    color: #144a82;
    text-transform: uppercase;
    padding: 0 10px;
    background-color: #f0f0f0;
}

.account__box__title {
    background: #C5DFFD;
    color: #144a82;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.account__box {
    margin-bottom: 3vh;
    border: 1px solid #585656;
    background-color: white;

}
.box_inner{
    font-size: 1em;
    padding-left: 3%;
    padding-right: 3%;
}

.label {
    text-align: right;
}
.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #C5DFFD;
    border: none;
    color: #144a82;
}

@media (max-width: 767px) {

    .btn{
        display: inline

    }
    .label {
        text-align: left;
    }
}