<div class="margetop">
  <div class=" row">
    <div class="col-12">
      <div class="titlewline">
        <div class="titlewline__title">Voter carnet d'adresses <br /></div>
      </div>
    </div>
  </div>


<form>
  <div class="account__box ">
      <div class="account__box__title mb-3"><h5>Votre nouvelle adresse</h5></div>
      <div class="box_inner">
         

        <div class="form-group row">
            <label for="colFormLabel" class="label col-md-3 col-form-label"
              >Nom de l'adresse</label
            >
            <div class="col-md-6">
              <input type="text" class="form-control" id="adresse1" />
            </div>
          </div>
        <div class="form-group row">
          <label for="colFormLabel" class="label col-md-3 col-form-label"
            >N° et Rue</label
          >
          <div class="col-md-6">
            <input type="text" class="form-control" id="adresse1" />
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="label col-md-3 col-form-label"
            >Comlément Adresse</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="adresse2" />
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="label col-md-3 col-form-label"
            >Code Postal</label
          >
          <div class="col-md-6">
            <input type="text" class="form-control" id="codepostal" />
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="label col-md-3 col-form-label"
            >Ville</label
          >
          <div class="col-md-6">
            <input type="text" class="form-control" id="ville" />
          </div>
        </div>
        <div>
            <button type="submit" class="btn btn-warning text-white mb-2">Valider</button>
        </div>
      </div>
    </div>
</form>
</div>
